.btn-div {
  display: flex;
  justify-content: flex-end;
  align-content: baseline;
  gap: 10px;
  font-weight: light;
  padding: 5px;
  margin-top: 35px;
}

.btn-div button {
  color: #1469bf;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  white-space: nowrap;
  width: fit-content;
  font-size: 10px;

}

.edit-btn:hover {
  background-color: #1469bf;
  color: white;
}

.delete-btn:hover {
  background-color: #1469bf;
  color: white;
}

.favorite-btn {
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}

.favorite-btn:hover {
  background-color: #1469bf;
  color: white;
}

.hotel-card-texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  
}
.hotel-card-texts p {
  color: rgb(70, 70, 70);
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.hotel-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hotel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.hotel-info {
  margin-top: 10px;

}

.hotel-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.hotel-info p {
  margin: 5px 0;
}

.hotel-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.price-div {
  display: flex;
  align-items: center;
}

.price-span {
color: rgb(96, 149, 17);
font-size: 1.5em;
align-items: center;
}

body.dark-theme .hotel-card {
  background-color: #474646;
  color: white;
}
body.dark-theme .hotel-card p {
  color: white;
}